body{
    background-color: #171e22 !important;
}

.card{
    height: 250px !important;
}

.navbar{
    background-color: #171e22 !important;
}

#createNewPost{
    align-items: end;
    text-align: end;
}