<div class="card text-bg-secondary mb-3 text-center">
  <div class="card-header">
    <h5 class="card-title">{{autor}}</h5>
  </div>
  <div class="card-body">
      <h5 class="card-title">{{ title|length > 25 ? title|slice(0, 25) ~ '...' : title  }}</h5>
    <p class="card-text">{{ body|length > 150 ? body|slice(0, 150) ~ '...' : body  }}</p>
  </div>
  <div class="card-footer text-muted">
    <a class="btn btn-primary">Visualizar</a>
  </div>
</div>