{% extends 'blog/base.html.twig' %}

{% block content %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
     <div class="container">
        <div class="row">
        <div class="col-12 text-light">
          {{ form_start(form) }} 
                 {{ form_widget(form) }}
                 <button type="submit" id="blog_Create" class="btn-primary btn">Create</button>
                 <a href={{ path('blog_list')}} class="btn-primary btn">Back to List</a>
            {{ form_end(form) }} 
        </div>
        </div>
    </div>
{% endblock %}